<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameDeals</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-neutral-200">
    <div>
        <header class="bg-blue-800">
            {{#if logged_in}}
            <nav class="flex items-end justify-between text-gray-300 pb-4">
                <div class="invisible">hellooooooooooooooooooo</div>
                <h1 class="text-6xl ">
                    Game Deals
                </h1>
            {{else}} 
              
                <h1 class="flex justify-center text-gray-100 pb-4 text-6xl ">
                    Game Deals
                </h1>
            {{/if}}
                
                {{#if logged_in}}
                <div class="pr-3 text-lg">
                    <a href="/">Home</a> |
                    <a href="/favorites">Favorites</a> |
                    <button class="btn" id="logout">Logout</button>
                </div>
                {{else}}
                
                {{/if}}
                
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>
        
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    
</body>

</html>
