<div class="row">
    <div class="col">
        <div>
            <p>
                <img {{game.thumb}}>
            </p>
            <p>
                <a href="./favorites/{{game.id}}">{{game.title}}></a>
            </p>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-danger" data-id="{{game.id}}">DELETE</button>
        </div>
    </div>
</div>

<script src="/GameDeals/public/js/search.js"></script>