<div class="row">
    <div class="col-auto">
        <h2>Search for a game</h2>
    </div>
</div>

<div>
    <div>
        <form class="form search-game-form">
            <div>
                <input class="form-input" type="text" name="game-search" placeholder="Search" />
                <button type="submit"  class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

{{#if games.length}}
{{#each games as |game|}}
<div>
    <div>
        <p>
            <img {{game.thumb}}>
            <a href="./search.handlebars/{{game.id}}">{{game.title}}></a>
        </p>
    </div>
</div>
{{/each}}
{{/if}}

<script src="/GameDeals/public/js/search.js"></script>